<form action="traitement.php" method="POST"> 

	Saisissez votre nom : <input type="text" name="nom"> 
	<br><br>
	 Donner votre sexe :<br> 
	 Masculin : <input type="radio" name="sexe" value="M"> 
	 <br> 
	 Feminin : <input type="radio" name="sexe" value="F"> 
	 <br><br> 
	 <input type="submit" value="Envoi"> 

</form>